.home-container {
  width: 1280px;
  min-width: 1280px;
  margin: 0 auto;
  .home-wrapper {
    padding: 0 48px;
    color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    .home-description {
      margin-top: 260px;
      font-size: 1.8rem;
      font-weight: 600;
      padding-right: 360px;
    }   
  }
}